name: Build artifacts

on:
  push:
    branches:
      - "*"


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        env:
          DISABLE_PROPERTIES_UPDATE: true
        with:
          arguments: build

      - name: Delete common libs
        run: rm -r ./common/build/libs

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Build Artifacts
          path: ./*/build/libs/
